@page "/"

<h1>BSData Buggy here!</h1>

<p>
    I can help you create a ticket with a bug report or other issue
    about BSData datafiles for BattleScribe.
</p>

<a href="/tickets/new">Create a new ticket</a>
